@using MaliLb.Models;
@model Work

@{
    ViewData["Title"] = "Изменение";
}

<div class="row justify-content-center">
    <div class="col-7">
        <form method="post">
            <div class="border p-3 mt-4">
                <div class="pb-2">
                    <h2 class="text-primary">Изменить информацию о произведении</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label class="p-1" for="floatingInput" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="p-1" asp-for="AuthorID"></label>
                    <select asp-for="AuthorID" asp-items="ViewBag.AuthorList" class="form-select">
                        <option selected disabled></option>
                    </select>
                    <span asp-validation-for="AuthorID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="p-1" asp-for="GenreID"></label>
                    <select asp-for="GenreID" asp-items="ViewBag.GenreList" class="form-select">
                        <option selected disabled></option>
                    </select>
                    <span asp-validation-for="GenreID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="p-1" for="floatingInput" asp-for="DateOfWriting"></label>
                    <input type="date" asp-for="DateOfWriting" class="form-control" />
                    <span asp-validation-for="DateOfWriting" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="p-1" for="floatingInput" asp-for="Description">Описание <span class="text-secondary">(не обязательно)</span></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <a asp-controller="Work" asp-action="Index" class="btn btn-dark w-100">Вернуться к списку</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-warning w-100">Принять изменения</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}