@using MaliLb.Models;
@model Genre

@{
    ViewData["Title"] = "Удаление";
}

<div class="row justify-content-center">
    <div class="col-7">
        <form method="post">
            <div class="border p-3 mt-4">
                <div class="pb-2">
                    <h2 class="text-primary">Удалить жанр</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label class="p-1" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" readonly />
                </div>
                <div class="row">
                    <div class="col">
                        <a asp-controller="Genre" asp-action="Index" class="btn btn-dark w-100">Вернуться к списку</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-danger w-100">Удалить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>