@using MaliLb.Models;
@model IEnumerable<Author>

@{
    ViewData["Title"] = "Авторы";
}

<h2 class="text-center text-primary mt-4">Авторы <a asp-controller="Author" asp-action="Add" class="btn btn-outline-success"><i class="bi bi-plus-lg"></i></a></h2>
<table class="table table-hover w-100 mt-3 pb-2 cell-centered">
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>
                    @author.Name
                    <div class="btn-group" role="group">
                        <a asp-controller="Author" asp-action="Edit" asp-route-id="@author.ID" class="btn btn-outline-warning"><i class="bi bi-pen"></i></a>
                        <a asp-controller="Author" asp-action="Delete" asp-route-id="@author.ID" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>